NiceGOLAfterBlackout/Service References/BIW_SFM_TEA/C1911.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.TEA_001?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BIW_SFM" />
  <xs:element name="Set_ModalitàOperativa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BIW_SFM" minOccurs="0" name="modalità" type="q1:BIW_SFM_Activity.STATO_GOL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_ModalitàOperativaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_ModalitàOperativaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_StrutturaProdotto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pagina" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_StrutturaProdottoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_StrutturaProdottoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_StrutturaProdotto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="struttura" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Pagina" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_StrutturaProdottoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_StrutturaProdottoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_NuovoOrdine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ordine" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_NuovoOrdineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BIW_SFM" minOccurs="0" name="Add_NuovoOrdineResult" type="q2:ACK_PLC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Status">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_StatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BIW_SFM" minOccurs="0" name="Get_StatusResult" type="q3:STATUS_INFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ListaPRG">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ListaPRGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_ListaPRGResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ListaPRG_Info">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ListaPRG_InfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BIW_SFM" minOccurs="0" name="Get_ListaPRG_InfoResult" type="q4:PRG_INFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_ListaPRG_Size">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_ListaPRG_SizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_ListaPRG_SizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reset_ListaPRG">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Reset_ListaPRGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Reset_ListaPRGResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Shift_ListaPRG">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Shift_ListaPRGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Shift_ListaPRGResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ListaLOIP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ListaLOIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_ListaLOIPResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ListaLOIP_Info">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ListaLOIP_InfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BIW_SFM" minOccurs="0" name="Get_ListaLOIP_InfoResult" type="q5:LOIP_INFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_ListaLOIP_Size">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_ListaLOIP_SizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_ListaLOIP_SizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reset_ListaLOIP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Reset_ListaLOIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Reset_ListaLOIPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Shift_ListaLOIP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Shift_ListaLOIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Shift_ListaLOIPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PaccoOrdini">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PaccoOrdiniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_PaccoOrdiniResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_RangePaccoOrdini">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seqStart" type="xs:int" />
        <xs:element minOccurs="0" name="seqStop" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_RangePaccoOrdiniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_RangePaccoOrdiniResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartProcess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartProcessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopProcess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopProcessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_RangeAutogenerante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seqStart" type="xs:int" />
        <xs:element minOccurs="0" name="SSC" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set_RangeAutogeneranteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Set_RangeAutogeneranteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_StrutturaProdotto_Info">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_StrutturaProdotto_InfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BIW_SFM" minOccurs="0" name="Get_StrutturaProdotto_InfoResult" type="q6:STRPRODOTTO_INFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ConfigFile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ConfigFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_ConfigFileResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportPaccoOrdini">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PathDestinazione" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportPaccoOrdiniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportPaccoOrdiniResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportPaccoOrdini">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PathSorgente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportPaccoOrdiniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportPaccoOrdiniResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportConfigurazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PathDestinazione" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportConfigurazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportConfigurazioneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportConfigurazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PathSorgente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportConfigurazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportConfigurazioneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SRV_Set_ListaPRG_Size">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SRV_Set_ListaPRG_SizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SRV_Set_ListaPRG_SizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SRV_Reset_ListaPRG">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SRV_Reset_ListaPRGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SRV_Reset_ListaPRGResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>