NiceGOLAfterBlackout/Service References/BIW_WebApp_WCF/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://abrgoa01wbcc010.fiatauto.adfa.local/BIWService/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://abrgoa01wbcc010.fiatauto.adfa.local/BIWService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://abrgoa01wbcc010.fiatauto.adfa.local/BIWService/Service.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetBodySpecCodeDetailsByEqId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBodySpecCodeDetailsByEqId" />
  </wsdl:message>
  <wsdl:message name="IService_GetBodySpecCodeDetailsByEqId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBodySpecCodeDetailsByEqIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetNextBIWOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextBIWOrder" />
  </wsdl:message>
  <wsdl:message name="IService_GetNextBIWOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextBIWOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBIWOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBIWOrders" />
  </wsdl:message>
  <wsdl:message name="IService_GetBIWOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBIWOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveBIWEntryAckByEquipmentIdAndOrderId_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveBIWEntryAckByEquipmentIdAndOrderId" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveBIWEntryAckByEquipmentIdAndOrderId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveBIWEntryAckByEquipmentIdAndOrderIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveBIWEntriesAck_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveBIWEntriesAck" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveBIWEntriesAck_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveBIWEntriesAckResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateLastInlineSequenceNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLastInlineSequenceNumber" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateLastInlineSequenceNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLastInlineSequenceNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService_KeepAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:KeepAlive" />
  </wsdl:message>
  <wsdl:message name="IService_KeepAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:KeepAliveResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetBodySpecCodeDetailsByEqId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBodySpecCodeDetailsByEqId" message="tns:IService_GetBodySpecCodeDetailsByEqId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBodySpecCodeDetailsByEqIdResponse" message="tns:IService_GetBodySpecCodeDetailsByEqId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextBIWOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetNextBIWOrder" message="tns:IService_GetNextBIWOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetNextBIWOrderResponse" message="tns:IService_GetNextBIWOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBIWOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBIWOrders" message="tns:IService_GetBIWOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBIWOrdersResponse" message="tns:IService_GetBIWOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveBIWEntryAckByEquipmentIdAndOrderId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReceiveBIWEntryAckByEquipmentIdAndOrderId" message="tns:IService_ReceiveBIWEntryAckByEquipmentIdAndOrderId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReceiveBIWEntryAckByEquipmentIdAndOrderIdResponse" message="tns:IService_ReceiveBIWEntryAckByEquipmentIdAndOrderId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveBIWEntriesAck">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReceiveBIWEntriesAck" message="tns:IService_ReceiveBIWEntriesAck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReceiveBIWEntriesAckResponse" message="tns:IService_ReceiveBIWEntriesAck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLastInlineSequenceNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateLastInlineSequenceNumber" message="tns:IService_UpdateLastInlineSequenceNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateLastInlineSequenceNumberResponse" message="tns:IService_UpdateLastInlineSequenceNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KeepAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/KeepAlive" message="tns:IService_KeepAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/KeepAliveResponse" message="tns:IService_KeepAlive_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBodySpecCodeDetailsByEqId">
      <soap:operation soapAction="http://tempuri.org/IService/GetBodySpecCodeDetailsByEqId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextBIWOrder">
      <soap:operation soapAction="http://tempuri.org/IService/GetNextBIWOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBIWOrders">
      <soap:operation soapAction="http://tempuri.org/IService/GetBIWOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveBIWEntryAckByEquipmentIdAndOrderId">
      <soap:operation soapAction="http://tempuri.org/IService/ReceiveBIWEntryAckByEquipmentIdAndOrderId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveBIWEntriesAck">
      <soap:operation soapAction="http://tempuri.org/IService/ReceiveBIWEntriesAck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLastInlineSequenceNumber">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateLastInlineSequenceNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeepAlive">
      <soap:operation soapAction="http://tempuri.org/IService/KeepAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://abrgoa01wbcc010.fiatauto.adfa.local/BIWService/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>